@import "tailwindcss";

@theme {
  --color-primary: #dcca87;
  --color-gray: #aaaaaa;
  --color-button-text: #0c0b08;

  --font-openSan: "Open Sans";
}
@import url("https://fonts.cdnfonts.com/css/bestermind");

html {
  font-family: "Cormorant Upright", serif;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.nav-list {
  font-family: "Open Sans";
  letter-spacing: 0.64px;
}

.login,
.book-table {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 175%; /* 28px */
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

.dining {
  line-height: 1.2;
}
.sub-name {
  font-family: "Open Sans";
}

.about,
.tribute,
.laurels {
  background-image: url(../public/images/back.png);
}

.chef-p {
  font-family: "Open Sans";
}

.signature {
  font-family: "Bestermind", sans-serif;
}
